<%- include("./partials/header.ejs") %>

<% var isMyProfile = false %>
<% if(currentUser && currentUser.id == user.id) { %>
<%  isMyProfile = true;  %>
<% }%>


<div class="page-header header-filter" data-parallax="true"
    style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');">
</div>

<div class="profile-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <div class="">
                    <div class="">
                        <img src="https://www.cybecys.com/wp-content/uploads/2017/07/no-profile.png"
                            alt="Circle Image" class=" rounded-circle img-fluid">
                    </div>
                    <div>
                        <h3 class="title"><%= user.username %> </h3>
                        
                        <% if(isMyProfile) { %> 
                            <p>
                                <a href="/songs/new" class="btn btn-info">Add a new song</a>
                            </p>
                        <% } %> 
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="profile-tabs">
                    <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                        <!-- TABS FOR EACH GENRE -->
                        <% genres.forEach(function(genre){ %>
                        <% if(genre === genres[0]) { %>
                        <li class="nav-item">
                            <a class="nav-link active" href="#<%= genre.toLowerCase()  %>" role="tab" data-toggle="tab">
                                <%= genre %>
                            </a>
                        </li>
                        <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="#<%= genre.toLowerCase()  %>" role="tab" data-toggle="tab">
                                <%= genre %>
                            </a>
                        </li>
                        <% } %>
                        <% }) %>
                    </ul>
                </div>
            </div>


            <!-- Bugs:
           - Issue displaying when there is only one song to a genre
           - No tab-pane is active by default -->

            <div class="tab-content tab-space" style="width: 100%;">
                <% genres.forEach(function(genre){ %>
                <div id="<%= genre.toLowerCase() %>" class="tab-pane">
                    <div class="row justify-content-center">
                        <% user.songs.forEach(function(song){ %>
                        <% if(song.type.toLowerCase() === genre.toLowerCase()) { %>
                            <div class="card col-md-4">
                                <iframe class=" card-img-top" src="https://open.spotify.com/embed/track/<%= song.spotifyId%>" height="300"
                                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                <div class="card-block">
                                    <p> <%= song.authors.length %> </p>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <p>
                                        <form action="/songs/<%= song._id %>?_method=PUT" method="POST">
                                            <button class="btn btn-info">Upvote</button>
                                        </form>
                                        <form action="/songs/<%= song._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                        </p>
                                    </div>
                        
                                </div>
                            </div>
                        <% } %>
                        <% }) %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>


<%- include("./partials/footer.ejs") %>