<%- include("../partials/header.ejs", {currentUser: currentUser}) %>
<% var helpers = include("../../helpers.js"); %>

<% genres.forEach(function(genre){ %>
<!-- TYPE OF MUSIC -->
<div class="jumbotron text-white text-center">
    <h2>
        <%= genre.toUpperCase() %> SONGS
    </h2>
</div>

<div class="row">
    <% var songsOfGenre = songs.filter(song => song.type.toLowerCase() === genre.toLowerCase()).
    sort(function(a,b){return b.authors.length-a.authors.length});%>
 
    <% songsOfGenre.forEach(function(song){ %>
    <div class="card col-sm-6 col-lg-3">
        <iframe class=" card-img-top" src="https://open.spotify.com/embed/track/<%= song.spotifyId%>" height="300"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <div class="card-block">
            <p class="upvotes"> <%= song.authors.length %> </p>
            <div role="group" aria-label="Basic example">
                <p >
                <form class="float-left"action="/songs/<%= song._id %>?_method=PUT" method="POST">
                    <button class="btn btn-info">Upvote</button>
                </form>
                <form class="float-right" action="/songs/<%= song._id %>" method="GET">
                    <button class="btn btn-info">See who likes this song!</button>
                </form>
                </p>
            </div>
        </div>
    </div>
    <% }) %>
</div>


<% }) %>
<!-- END OF TYPE OF SONG -->


<%- include("../partials/footer.ejs") %>